.fs-aaa {
    font-size: 200%;
}

.fs-aa {
    font-size: 150%;
}

.fs-a {
    font-size: 100%;
}

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../img/background.jpg");
  min-height: 50%;
    opacity: 90%;
}

.menu {
  display: none;
}

.animated-text {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
