.fs-aaa {
    font-size: 210%;
}

.fs-aa {
    font-size: 150%;
}

.fs-a {
    font-size: 100%;
}

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../img/background.jpg");
  min-height: 100%;
    opacity: 90%;
}

.bgimg2 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/background.jpg");
  min-height: 15%;
  opacity: 90%;
  padding-top: 16%
}

.bgimg_relax {
  background-position: center;
  background-size: cover;
  background-image: url("../img/gradient.png");
  min-height: 2%;
  padding-top: 20%
}

.menu {
  display: none;
}

.animated-text {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.btn {
  background-color: white;
  border: round;
  border-radius: 25px;
  color: black;
  padding: 12px 16px;
  font-size: 64px;
  cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

/* Darker background on mouse-over */
.btn:hover {
  background-color: Grey;
}

.extracted-text {
  height: 600px;
  padding: 2%;
  overflow-y: auto; /* Enable vertical scrolling */
  white-space: pre-wrap; /* Preserve newlines and wrap long lines */
}
