{% extends 'base.html' %}


{% block title %}Learn Now{% endblock %}
                  

{% block nav %}
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active w3-bar-item w3-button" href="/learn" aria-current="page">Learn Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/play">Play Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/assistance">Assistance</a>
                  </li>
{% endblock %}



{% block body %}

{% endblock %}