{% extends 'base.html' %}


{% block title %}Information{% endblock %}




{% block body %}
   <div class="w3-top">
        <nav class="w3-bar w3-white w3-padding w3-card">
            <div class="w3-left w3-hide-small" style="display:flex; align-items: center">
                <a href="/" class="w3-bar-item w3-button w3-large">
                    <img src="{{ url_for('static', filename='img/logo3.jpeg') }}" class="w3-round w3-image"
                         style="width: 120px; height: 40px; border-radius: 5px">
                </a>
                <a class="nav-link fw-bolder w3-bar-item w3-button" href="#" id="fs_large" style="font-size: 25px">A
                    |</a>
                <a class="nav-link fw-semibold w3-bar-item w3-button" href="#" id="fs_normal" style="font-size: 20px">A
                    |</a>
                <a class="nav-link fw-normal w3-bar-item w3-button" href="#" id="fs_small" style="font-size: 15px">A
                    |</a>
            </div>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a class="navigation-btn" aria-current="page" href="/">Home</a>
                <a class="navigation-btn" href="/learn">Learn Now</a>
                <a class="navigation-btn" href="/play">Play Now</a>
                <a class="navigation-btn active" href="/Information">Information</a>
            </div>
        </nav>
    </div>
    <style>
        .container {
            display: inline-grid;

            padding: 750px;
        }

        .card {
            width: 350px;
            height: 500px;
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #fff;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            overflow: hidden;
        }

        .card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
            margin-bottom: 10px;
        }

        .card h3 {
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 10px;
        }

        .card a {
            border-radius: 0px;
            background-color: black;
            color: white;
            border: 0px solid black;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            transition: background-color 0.3s ease-in-out;
        }

        .card a:hover {
            background-color: #a39c94;
        }

        .bg_box {
            border-radius: 0px;
            background-color: #E4E7E9;
            border: 0px solid gray;
            padding: 60px 300px;
            margin-top: 0px;
        }
    </style>

    <br>

    <header class="bgimg_learn w3-display-container w3-grayscale-min" style="margin-top:3%">

        <div class="w3-display-left w3-left" style="align-items: center; padding-left: 5%">
            <p class="fs-aa" style="font-size:50px;color: white;margin-left: 8%"><b>Information</b></p>
            <p class="fs-a" style="color: white; margin-left: 8%"><b>Access more information regarding various eye
                conditions and disability services.</b></p>
        </div>

    </header>
    <br>

    <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
        <a class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 class="w3-bar-item"><b>Menu</b></h4>

        <a class="w3-bar-item w3-button w3-hover-black" onclick="window.location.href='/Information';" style="background-color: black;color: white">Information</a>
        <a class="w3-bar-item w3-button w3-hover-black"
           onclick="window.location.href='/Information/services';">Services</a>

    </nav>

    <div class="w3-main" style="margin-left:250px">

        <h2><b>Useful Links</b></h2>
        <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div>
        <br>
        <p class="fs-a">This page provides information on various visual impairment conditions. Here, you can learn
            about different types of visual impairments, their causes, symptoms, and treatment options to help you
            understand these conditions and provide resources to assist you.</p>

        <div class="row w3-padding-16">

            <div class="col-12" style="margin-left: 3%">
                <div class="tag_text_box">
                <p class="w3-xlarge w3-center" style="color: white"><b>Title 1</b></p>
                </div>
            </div>


            <div class="col-12">
                <p><iframe height="60%" width="100%" frameborder="no" src="https://sohani0307.shinyapps.io/alleyecondition/"> </iframe></p>
            </div>

        </div>

            <div class="col-12">
                <p>Incorrect refractive alignment results in long- or short-sightedness and trouble shifting focus. In Australia, it's the most prevalent form of visual issue.
                    <iframe height="60%" width="100%" frameborder="no" src="https://sohani0307.shinyapps.io/refractive/"> </iframe></p>

            </div>

        </div>



        <div class="w3-row w3-padding-16" style="background: white">
            <div class="w3-row-padding w3-center w3-margin-top">
                <div class="w3-third" style="background-color: white">
                    <div class="card">
                        <h3>Retinitis Pigmentosa (RP)</h3><br>
                        <div class="w3-container" style="max-font-size: 13px;max-height: 195px">
                            <img src="{{ url_for('static', filename='img/info1.jpg') }}" alt="info1_pic"
                                 style="width:50%; height: 50%; margin: auto; border-radius: 20px"><br><br>
                            <p>The term "retinitis pigmentosa" (RP) refers to a range of inherited or genetic retinal illnesses. Loss of side and night vision results from it. RP can start at birth and last until late in adulthood.</p>
                            <hr>
                            <a href="https://www.cera.org.au/conditions/retinitis-pigmentosa-rp/#how-common-is-it"
                               STYLE="margin-top: 0%" target="_blank">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="w3-third" style="background-color: white">
                    <div class="card">
                        <h3>Usher Syndrome (USH)</h3><br>
                        <div class="w3-container" style="max-font-size: 12px;max-height: 200px; margin-top: 5%">
                            <img src="{{ url_for('static', filename='img/info2.jpeg') }}" alt="info2_pic"
                                 style="width:50%; height: 50%; margin: auto; border-radius: 20px"><br><br>
                            <p>Usher syndrome is a rare genetic disorder that can have an impact on balance, hearing, and vision.</p>
                            <hr>
                            <a href="https://www.cera.org.au/conditions/usher-syndrome-ush/" STYLE="margin-top: 5%" target="_blank">Learn
                                More</a>
                        </div>

                    </div>
                </div>

                <div class="w3-third" style="background-color: white">
                    <div class="card">
                        <h3>Stargardt’s Disease</h3><br>
                        <div class="w3-container" style="max-font-size: 12px;max-height: 200px">
                            <img src="{{ url_for('static', filename='img/info3.jpeg') }}" alt="info3_pic"
                                 style="width:50%; height: 50%; margin: auto; border-radius: 20px">
                            <br>
                            <br>
                            <p>An inherited retinal condition called Stargardt's disease causes central vision loss.</p>
                            <hr>
                            <a href="https://www.cera.org.au/conditions/stargardts-disease/"
                               STYLE="margin-top: 5%" target="_blank">Learn More</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
                <div class="w3-row w3-padding-16" style="background: white">
            <div class="w3-row-padding w3-center w3-margin-top">
                <div class="w3-third" style="background-color: white">
                    <div class="card">
                        <h3>Cone-Rod Dystrophy (CORD)</h3><br>
                        <div class="w3-container" style="max-font-size: 13px;max-height: 195px">
                            <img src="{{ url_for('static', filename='img/info1.jpg') }}" alt="info1_pic"
                                 style="width:50%; height: 50%; margin: auto; border-radius: 20px"><br><br>
                            <p>A series of inherited or genetic eye conditions known as cone-rod dystrophy harm the retina and impair vision.</p>
                            <hr>
                            <a href="https://www.cera.org.au/conditions/cone-and-rod-dystrophies/"
                               STYLE="margin-top: 0%" target="_blank">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row w3-padding-16" style="background: white">
                    <div class="w3-row-padding w3-center w3-margin-top">
                        <div class="w3-third" style="background-color: white">
                            <div class="card">
                                <h3>Leber Congenital Amaurosis (LCA) and Early-Onset Severe Retinal Dystrophy (EOSRD)</h3><br>
                                <div class="w3-container" style="max-font-size: 13px;max-height: 195px">
                                    <img src="{{ url_for('static', filename='img/info1.jpg') }}" alt="info1_pic"
                                         style="width:50%; height: 50%; margin: auto; border-radius: 20px"><br><br>
                                    <p>Young children with Leber congenital amaurosis and early-onset severe retinal dystrophy have limited eyesight due to rare genetic eye diseases.</p>
                                    <hr>
                                    <a href="https://www.cera.org.au/conditions/leber-congenital-amaurosis-lca-and-early-onset-severe-retinal-dystrophy-eosrd/"
                                       STYLE="margin-top: 0%" target="_blank">Learn More</a>
                                </div>
                            </div>
                        </div>








        <h2><b>Helpful resources</b></h2>
        <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div>


        <div class=" w3-padding-64">
            <div class="w3-container w3-cell" style=" background-color: #837469;padding: 50px 60px">
                <div class="overlay-text">
                    <p style="color: white; font-size: 22px;"><b>More services provided by the Government, NGO, and
                        clinic?</b></p>
                    <button class="white_btn3" onclick="window.location.href='/Information/services';"
                            style="margin-top: 20%"><b>Check it now</b></button>
                </div>
            </div>

            <div class="w3-container w3-cell" style="background-color: #E4E7E9; padding: 50px 100px">
                <iframe width="654" height="380" src="https://www.youtube.com/embed/PBQiVGAgG_A"></iframe>

            </div>
        </div>

    </div>









    <div class="w3-display-bottomright" style="margin-bottom: 2%; margin-right: 2%; position: fixed">
        <button class="blue_btn" onclick="window.location.href='/';"
                style="padding: 10px 32px; text-align: center;"><b>Home</b></button>
    </div>

{% endblock %}
