{% extends 'base.html' %}


{% block title %}Information{% endblock %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link w3-bar-item w3-button" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link w3-bar-item w3-button" href="/learn">Learn Now</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active w3-bar-item w3-button" aria-current="page" href="/play">Play Now</a>
    </li>
    <li class="nav-item">
        <a class="nav-link w3-bar-item w3-button" href="/Information">Information</a>
    </li>

{% endblock %}



{% block body %}

    <br>
    <br>
    <br>
    <header class="bgimg2 w3-display-container w3-grayscale-min">

        <div class="w3-display-left w3-left" style="align-items: center; padding-left: 5%">
            <p class="name fw-bolder" style="font-size:50px;color: #000000;">Support Services</p>
            <p class="fw-bolder">Get some assistance from various trusted sources.</p>
        </div>

    </header>
    <br>

    <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
        <a class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 class="w3-bar-item"><b>Menu</b></h4>

        <a class="w3-bar-item w3-button w3-hover-black" onclick="window.location.href='/Information';">Information</a>
        <a class="w3-bar-item w3-button w3-hover-black"
           onclick="window.location.href='/Information/services';">Services</a>


    </nav>

    <div class="w3-main" style="margin-left:250px">

        <h2><b>Disability Support Services</b></h2>
        <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div><br>
        <p>This page is dedicated to providing resources from trusted sources. We understand the importance of reliable information and have compiled a list of trusted sources for you to access. From Government websites to NGOs, our resources cover a variety of topics and are backed by credible sources. Browse our collection and access the information you need with confidence.</p>
        <div class="w3-row w3-padding-16">
            <div class="w3-row-padding w3-center w3-margin-top">
                <div class="w3-third" style="background-color: white">
                    <div class="w3-card w3-container" style="min-height:460px">
                        <h3>Government Resources</h3><br>
                        <img src="{{ url_for('static', filename='img/aus.png') }}" alt="paper"
                             style="width:70%; height: 70%">
                        <hr>
                        <p>Free student eye tests</p>
                        <hr>
                        <a id="black_btn" href="https://www.health.gov.au/news/free-student-eye-tests?language=en">Find More</a>

                    </div>
                </div>

                <div class="w3-third" style="background-color: white">
                    <div class="w3-card w3-container" style="min-height:460px">
                        <h3>Non-Governmental Organizations</h3><br>
                        <img src="{{ url_for('static', filename='img/NGO.png') }}" alt="map"
                             style="width: 50%; height: 50%">
                        <hr>
                        <p>Vision Australia is a NGO which provide many services for visually impaired people</p>
                        <hr>
                        <a id="black_btn" href="https://www.visionaustralia.org/services">Find More</a>


                    </div>
                </div>

                <div class="w3-third" style="background-color: white">
                    <div class="w3-card w3-container" style="min-height:460px">
                        <h3>Clinics</h3><br>
                        <img src="{{ url_for('static', filename='img/yiyuan.png') }}" alt="tree"
                             style="width: 55%; height: 55%">
                        <hr>
                        <p>Visit your local Vision Clinic</p>
                        <hr>
                        <a id="black_btn" href="https://www.visionaustralia.org/visit-a-vision-clinic?gclid=CjwKCAjwuqiiBhBtEiwATgvixCokNF2ocqFvQkO-UaUKvEjOp-7uC0JKYGfa-IW2OL6e2bSC49JYBxoCd-EQAvD_BwE">Find More</a>

                    </div>
                </div>
            </div>

        </div>
    <br>
    <br>
    <br>
    </div>


    <div class="w3-display-bottomright"
         style="margin-bottom: 2%; margin-right: 2%; position: fixed">
        <button class="home_black_btn" onclick="window.location.href='/';"
                style="padding: 10px 32px; text-align: center;"><b>Home</b></button>
    </div>

{% endblock %}