{% extends 'base.html' %}


{% block title %}
Home
{% endblock %}


{% block body %}


<header class="bgimg w3-display-container" id="home">

  <div class="overlay-text" style = "align-items: center;">
      <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Helpviz</b></span> </h1>
      <br>
      <p class="fw-bolder" style="color: white; font-size: 35px">Empowering visually impaired students to excel in learning.</p><br>

      <p class="fw-semibold" style="color: white;">We aim to assist your learning by providing interactive learning experience.</p>
      <p class="fw-semibold" style="color: white;">A paradise for <b>learning and relaxation.</b> </p>
      <br>
      <button class="white_btn" onclick="window.location.href='/learn';"><b>Start your learning journey now</b></button>
  </div>

</header>


<div class="w3-content" style="max-width:1100px">

<br>

<div class="w3-row w3-padding-64" id="learn">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center" style="font-size: 35px"><b>Max out your relaxation</b></h1><br>
      <p class="w3-center" style="font-size: 22px">Relax yourself by listening to smooth music, podcasts and playing games.</p>
        <br>
        <button class="home_black_btn" onclick="window.location.href='/play';" style="margin-left: 35%"><b>Click here</b></button>
    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="{{ url_for('static', filename='img/play_now2.webp')}}" class="w3-round w3-image w3-opacity-min" alt="Learn" style="width: 3000px; height: 300px; border-radius: 50px">
    </div>
  </div>

</div>


{#    <!-- About Section -->#}
{#  <div class="w3-container w3-padding-32" id="about">#}
{#    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>#}
{#    <p>Team Information here#}
{#    </p>#}
{#  </div>#}
{##}
{#  <div class="w3-row-padding">#}
{#    <div class="w3-col l3 m6 w3-margin-bottom">#}
{#      <img src="/w3images/team2.jpg" alt="Josh" style="width:100%">#}
{#      <h3>Zhixuan Li</h3>#}
{#      <p class="w3-opacity">Master of IT</p>#}
{#      <p>Introduction</p>#}
{##}
{#    </div>#}
{#    <div class="w3-col l3 m6 w3-margin-bottom">#}
{#      <img src="/w3images/team1.jpg" alt="Nithin" style="width:100%">#}
{#      <h3>nithin</h3>#}
{#      <p class="w3-opacity">Master of AI</p>#}
{#      <p>Introduction</p>#}
{##}
{#    </div>#}
{#    <div class="w3-col l3 m6 w3-margin-bottom">#}
{#      <img src="{{ url_for('static', filename='img/sohani.png')}}" alt="Sohani" style="height: 50%; width: 50%">#}
{#      <h3>Sohani</h3>#}
{#      <p class="w3-opacity">Master of Data Science</p>#}
{#      <p>Introduction</p>#}
{##}
{#    </div>#}
{#    <div class="w3-col l3 m6 w3-margin-bottom">#}
{#      <img src="/w3images/team4.jpg" alt="Gu" style="width:100%">#}
{#      <h3>Xinyuan Gu</h3>#}
{#      <p class="w3-opacity">Master of Data Science</p>#}
{#      <p>Introduction</p>#}
{##}
{#    </div>#}
{#  <div class="w3-col l3 m6 w3-margin-bottom">#}
{#      <br>#}
{#      <img src="/w3images/team4.jpg" alt="Yu" style="width:100%">#}
{#      <h3>Baonan Yu</h3>#}
{#      <p class="w3-opacity">Master of BIS</p>#}
{#      <p>Introduction</p>#}
{##}
{#    </div>#}
{#  </div>#}

{% endblock %}
