{% extends 'base.html' %}


{% block title %}Game{% endblock %}

{% block nav %}
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/learn">Learn Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/play">Play Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/Information">Information</a>
                  </li>
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Tic-Tac-Toe</h1>
        <div class="play-area">

        </div>
        <h2 id="winner"></h2>
        <button onclick="reset_board()" style="color: #ffffff">RESET</button>
        <br>
        <button id="Back" onclick="window.location.href='/play';" style="margin-left: 5px">Quit the Game</button>
        
    <div class="w3-display-bottomright" style = "background-color: white; margin-bottom: 3%; margin-right: 3%; position: fixed">
            <button class="btn" ><a href="/play"><i class="fa fa-arrow-left"></i> Back</a></button>
        </div>
    
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
{% endblock %}
