{% extends 'base.html' %}


{% block title %}Play Now{% endblock %}
                  

{% block nav %}
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/learn">Learn Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active w3-bar-item w3-button" aria-current="page" href="/play">Play Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/Information">Information</a>
                  </li>
{% endblock %}



{% block body %}
<header class="bgimg_relax w3-display-container w3-grayscale-min">

  <div class="w3-display-left w3-left" style = "align-items: center; padding-left: 5%">
      <p class="name fw-bolder" style="font-size:50px;color: #000000;">Relax and Unwind...</p>
      <p class="fw-bolder">Calm your nerves by relaxing yourself</p>
  </div>

</header>
    <br>
<div class="row text-center my-5">
    <div class="col">
        <figure class="figure">
            <a href="/play/music">
                <img src="{{ url_for('static', filename='img/Music.jpg')}}" class="figure-img img-fluid rounded" alt="..." style="width: 100%; height: 300px">
            </a>
        </figure>
        <br>
        <button id="Back" onclick="window.location.href='/play/music';" style="margin-left: 20px">Music</button>
    </div>
    <div class="col">
        <figure class="figure">
            <a href="/play/game">
            <img src="{{ url_for('static', filename='img/games.png')}}" class="figure-img img-fluid rounded" alt="..." style="width: 100%; height: 300px">
            </a>
        </figure>
        <br>
        <button id="Back" onclick="window.location.href='/play/game';" style="margin-right: 20px">Game</button>
    </div>
    <div class="col">
        <figure class="figure">
            <img src="{{ url_for('static', filename='img/podcast_latest.png')}}" class="figure-img img-fluid rounded" alt="..." style="width: 100%; height: 300px">

        </figure>
        <br>
        <button id="Back" onclick="window.location.href='/play/podcast';" style="margin-right: 10px">Podcast</button>

    </div>
</div>

<div class="w3-display-bottomright" style = "background-color: white; margin-bottom: 3%; margin-right: 3%; position: fixed">
            <button class="btn" ><a href="/"><i class="fa fa-home"></i> Home</a></button>
        </div>

{% endblock %}
