{% extends 'base.html' %}


{% block title %}Play Now{% endblock %}




{% block body %}
      <div class="w3-top">
  <nav class="w3-bar w3-white w3-padding w3-card">
    <div class="w3-left w3-hide-small"  style = "display:flex; align-items: center">
    <a href="/" class="w3-bar-item w3-button w3-large">
        <img src="{{ url_for('static', filename='img/logo3.jpeg')}}" class="w3-round w3-image" style="width: 120px; height: 40px; border-radius: 5px">
        </a>
      <a class="nav-link fw-bolder w3-bar-item w3-button" href="#" id="fs_large" style = "font-size: 25px">A |</a>
      <a class="nav-link fw-semibold w3-bar-item w3-button" href="#" id="fs_normal"style = "font-size: 20px">A |</a>
      <a class="nav-link fw-normal w3-bar-item w3-button" href="#" id="fs_small"style = "font-size: 15px">A |</a>
    </div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <a class="navigation-btn" aria-current="page" href="/">Home</a>
        <a class="navigation-btn" href="/learn">Learn Now</a>
        <a class="navigation-btn active" href="/play">Play Now</a>
        <a class="navigation-btn" href="/Information">Information</a>
    </div>
  </nav>
  </div>


    <br>
<header class="bgimg_learn w3-display-container w3-grayscale-min" style="margin-top:3%">

  <div class="w3-display-left w3-left" style = "align-items: center; padding-left: 5%">
      <p class="fs-aa" style="font-size:50px;color: white;margin-left: 8%"><b>Relax and Unwind...</b></p>
      <p class="fs-a" style="color: white; margin-left: 8%"><b>Feel tired after long-time reading?</b></p>
      <p class="fs-a" style="color: white; margin-left: 8%"><b>You can relax yourself by listening to smooth music and podcasts, and playing interesting games.</b></p>
      <p class="fs-a w3-right" style="color: #ffffff;margin-right: -35%;margin-bottom: 4%">Home > Play Now</p>
  </div>

</header>
    <br>
<div class="row text-center my-5">
    <div class="col">
        <figure class="figure">
            <a href="/play/music">
                <img src="{{ url_for('static', filename='img/Music.jpg')}}" class="figure-img img-fluid rounded" alt="..." style="width: 50%; height: 50%">
            </a>
        </figure>
        <br>
        <button class="blue_btn" onclick="window.location.href='/play/music';" style="margin-left: 20px"><b>Music</b></button>
    </div>
    <div class="col">
        <figure class="figure">
            <a href="/play/game">
            <img src="{{ url_for('static', filename='img/games.png')}}" class="figure-img img-fluid rounded" alt="..." style="width: 50%; height: 50%">
            </a>
        </figure>
        <br>
        <button class="blue_btn" onclick="window.location.href='/play/game';" style="margin-right: 20px"><b>Game</b></button>
    </div>
    <div class="col">
        <figure class="figure">
            <img src="{{ url_for('static', filename='img/podcast_latest.png')}}" class="figure-img img-fluid rounded" alt="..." style="width: 50%; height: 50%">

        </figure>
        <br>
        <button class="blue_btn" onclick="window.location.href='/play/podcast';" style="margin-right: 10px"><b>Podcast</b></button>

    </div>
</div>

<div class="w3-display-bottomright" style = "background-color: white; margin-bottom: 2%; margin-right: 2%; position: fixed">
        <button class="blue_btn" onclick="window.location.href='/';" style="padding: 10px 32px; text-align: center;"><b>Home</b></button>
    </div>

{% endblock %}
