{% extends 'base.html' %}


{% block title %}Music{% endblock %}
                  

{% block nav %}
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/learn">Learn Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/play">Play Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/Information">Information</a>
                  </li>
{% endblock %}



{% block body %}

<!--{% for item in files %}-->
<!--<div class="row mt-5">-->
<!--  <div class="col">-->
<!--    <figure class="figure">-->
<!--      <img src="{{ item.img }}" class="figure-img rounded img-thumbnail" style="max-height: 300px;" alt="{{ item.name }}">-->
<!--      <figcaption class="figure-caption">-->
<!--        {{ item.name }}-->
<!--        <audio src="{{ item.url }}" controls></audio>-->
<!--      </figcaption>-->
<!--    </figure>-->
<!--      <hr style="height: 1px; background: #000000;">-->
<!--  </div>-->
<!--</div>-->
<!--{% endfor %}-->

<header class="bgimg_relax w3-display-container w3-grayscale-min">

  <div class="w3-display-left w3-left" style = "align-items: center; padding-left: 5%">
      <p class="name fw-bolder" style="font-size:50px;color: #000000;">Listen to different music.</p>
  </div>

</header>


    <div class="w3-row-padding" style = "padding: 100px; text-align: center">
		{% for i in range(0,4,2) %}
		<div class="w3-half w3-container w3-margin-bottom">
			<figure class="figure">
<!--            <div class="w3-card w3-margin-bottom">-->
                <p>{{ files[i].name }}</p>
                <img src="{{ files[i].img }}"  class="figure-img rounded img-thumbnail" style="max-height: 200px;" alt="{{ files[i].name }}" class = "music-img" onclick="togglePlayback(event)">
                <audio controls>
                    <source src="{{ files[i].url }}" type="audio/mp3">
                </audio>
<!--            </div>-->
            </figure>
            <hr style="height: 1px; background: #000000;">
		</div>
        <div class="w3-half w3-container w3-margin-bottom">
			<figure class="figure">
<!--            <div class="w3-card w3-margin-bottom">-->
                <p>{{ files[i+1].name }}</p>
                <img src="{{ files[i+1].img }}"  class="figure-img rounded img-thumbnail" style="max-height: 200px;" alt="{{ files[i+1].name }}" class = "music-img" onclick="togglePlayback(event)">
                <audio controls>
                    <source src="{{ files[i+1].url }}" type="audio/mp3">
                </audio>
<!--            </div>-->
            </figure>
            <hr style="height: 1px; background: #000000;">
		</div>
		{% endfor %}
	</div>

    <script>
		function togglePlayback(event) {
		    var img = event.target;
			var audio = img.nextSibling.nextSibling;
			if (audio.paused) {
				audio.play();
			} else {
				audio.pause();
			}
		}
	</script>


    <div class="w3-display-bottomright" style = "background-color: white; margin-bottom: 3%; margin-right: 3%; position: fixed">
            <button class="btn" ><a href="/play"><i class="fa fa-arrow-left"></i> Back</a></button>
        </div>


{% endblock %}
