{% extends 'base.html' %}


{% block title %}Q&A{% endblock %}
                  

{% block nav %}
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/">Home</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link w3-bar-item w3-button" href="/learn" aria-current="page"><b>Learn Now</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/play">Play Now</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link w3-bar-item w3-button" href="/Information">Information</a>
                  </li>
{% endblock %}



{% block body %}
<div class="container-fluid">
    <header class="bgimg3 w3-display-container w3-grayscale-min" style="margin-top:3%">
      <div class="w3-display-left w3-left" style = "align-items: center; padding-left: 5%">
          <p class="name fw-bolder" style="font-size:50px;color: #ffffff;">Q & A Assistance</p>
          <p class="fw-bolder" style="color: #ffffff;">Access our AI-based Q&A helper to revise your content. </p>
      </div>
    </header>

  <div class="row">
      <p class="w3-left" style="padding: 2%"><b>Extracted content from the uploaded file:</b></p>

    <div class="col-7">
      <div class="w3-center" style = "display: flex; flex-direction: column; justify-content: space-between; width: 100%">
          <form id = "form" method="POST" action="{{ url_for('learn.pdf_page') }}">
              <button class="navigation-btn" type="button" onclick="prevPage()" style="width:20%">Previous</button>
              <label for="page" style="width:20%">Page Number:</label>
              <input type="number" id="page" name="page" min="1" max="{{ max_length }}" value="{{page}}" style="width:20%">
              <button class="navigation-btn" type="button" onclick="nextPage()" style="width:20%">Next</button>
          </form>
          <br>
          <pre class = "extracted-text" style="height: 42vh">{{ texts[page-1] }}</pre>
      </div>
    </div>

    <div class="col-5" >
      <div class="card border-primary mt-3"style="height: 45vh">
        <div class="card-header">
          Q&A Box
        </div>
        <div class="card-body" id="chatBox" style="overflow-y: scroll;">
        </div>
      </div>
      <form class="row" style="margin-top: 0;" onsubmit="submitHandle">
          <div class="col-12">
            <input id="questionInput" style="width: 100%" class="form-control form-control-lg border-primary" type="text" name="question" placeholder="Enter your question here" />
          </div>
      </form>
    </div>
  </div>
    <div class="w3-display-bottomright" style = "background-color: white; margin-bottom: 2%; margin-right: 2%; position: fixed">
        <button class="home_black_btn" onclick="window.location.href='/play';" style="padding: 10px 32px; text-align: center;"><b>Relax Now</b></button>
    </div>
</div>

<script>


    document.getElementById("questionInput").addEventListener("keypress", function(ev) {
      if (ev.key == "Enter") {
        submitHandle(ev);
      }
    });

    function submitHandle(ev) {
      console.debug("submit");
      ev.preventDefault();

      //change chat box
      let questionInput = document.getElementById("questionInput");
      let question = questionInput.value;
      questionInput.value = "";
      
      let chatBox = document.getElementById("chatBox");
      chatBox.innerHTML = chatBox.innerHTML + packQuestion(question);

      let askUrl = "/learn/ask";
      let options = {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({question: question})
      };
      fetch(askUrl, options)
        .then(resp => resp.json())
        .then(data => {
          console.debug(data);
          chatBox.innerHTML = chatBox.innerHTML + packAnswer(data.answer);
        });
    }

    function packQuestion(question) {
      let html = [
        "<div class='text-end'>",
        "  <strong>Question: </strong>" + question,
        "</div>"
      ].join("");

      return html;
    }

    function packAnswer(answer) {
      let html = [
        "<div class='text-start'>",
        "  <strong>Answer: </strong>" + answer,
        "</div>"
      ].join("");

      return html;
    }

    var pageInput = document.getElementById('page');
    var maxPage = {{ max_length }};
    var currentPage = {{ page }};

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            pageInput.value = currentPage;
            form.submit();
        }
    }

    function nextPage() {
        if (currentPage < maxPage) {
            currentPage++;
            pageInput.value = currentPage;
            form.submit();
        }
    }


</script>
{% endblock %}
