{% extends 'base.html' %}



{% block body %}
    <div class="w3-top">
        <nav class="w3-bar w3-white w3-padding w3-card">
            <div class="w3-left w3-hide-small" style="display:flex; align-items: center">
                <a href="/" class="w3-bar-item w3-button w3-large">
                    <img src="{{ url_for('static', filename='img/logo3.jpeg') }}" class="w3-round w3-image"
                         style="width: 120px; height: 40px; border-radius: 5px">
                </a>
                <a class="nav-link fw-bolder w3-bar-item w3-button" href="#" id="fs_large" style="font-size: 25px">A
                    |</a>
                <a class="nav-link fw-semibold w3-bar-item w3-button" href="#" id="fs_normal" style="font-size: 20px">A
                    |</a>
                <a class="nav-link fw-normal w3-bar-item w3-button" href="#" id="fs_small" style="font-size: 15px">A
                    |</a>
            </div>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a class="navigation-btn" aria-current="page" href="/">Home</a>
                <a class="navigation-btn active" href="/learn">Learn Now</a>
                <a class="navigation-btn" href="/play">Play Now</a>
                <a class="navigation-btn" href="/Information">Information</a>
            </div>
        </nav>
    </div>


    <section id="section_start">
    <br>


    <header class="bgimg_learn w3-display-container w3-grayscale-min" style="margin-top:3%">
        <div class="w3-display-left w3-left" style="align-items: center; padding-left: 5%">
            <p class="fs-aa" style="font-size:50px;color: #ffffff; margin-left: 8%"><b>Easy Chapter Reader</b></p>
            <p class="fs-a" style="margin-left: 8%; color: white"><b>Feel challenging on screen reading? Upload your
                learning materials and start your reading journey.</b></p>
            <p class="w3-large" style="color: black;margin-left: 8%;margin-top: 3%"><a href="/" style="color:black">Home</a> > <a href="/learn" style="color:black">Learn Now</a></p>
        </div>
    </header>
    </section>

    <div>
        <div class="w3-container w3-cell" style=" background-color: #E4E7E9;width:55%">

                <p class="fs-aa" style="margin-top: 2%"><b>Upload your learning materials</b></p>
                <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div>
                <br>
                <br>
            <div style="margin-left: 20%">
                <form action="/learn/" method="POST" enctype="multipart/form-data">
                    <input class="w3-light-grey w3-xlarge" type="file" name="file" id="fileInput"/>
                    <br>
                    <br>
                    <div class="fs-a" id="uploadMessage" style="display:block;">Please select a file to upload.</div>
                    <br>
                    <input type="submit" id="submitButton" class="blue_btn" value="Upload" onclick="handleFileUpload()" disabled/>
                </form>
            </div>
            <button class="scroll-down-button" onclick="scrollToSection('section_2')" style="margin-left: 90%; margin-top: -8%"><b><i class='fa fa-angle-down'
                                                                     style='font-size:70px;color:black'></i></b></button>
        </div>


        <div class="w3-container w3-cell" style="background-color: #837469; width: 900px;">
            <p class="fs-aa" style="color: white; margin-top: 2%"><b>What do you find here?</b></p>
            <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div>
            <br>


            <li class="fs-a" style="color: white">You can ask questions relevant to the current page</li>
            <br>
            <li class="fs-a" style="color: white">Page Summary gives you the current page summary</li>
            <br>
            <li class="fs-a" style="color: white">Chapter summary gives you the full chapter summary</li>
            <br>
            <li class="fs-a" style="color: white">Press <b style="font-size: 25px">J</b> to start voice Assistance</li>
            <br>
            <div class="fs-a" id="uploadMessage2" style="display:none; color: white">Please submit a file to get your
                assistance.
            </div>
            <br>
        </div>
    </div>
    <section id="section_2">
    <br>
    <br>
    <br>
    </section>


    <div class="container-fluid">
        <p class="fs-aa" style="margin-left: 1%"><b>Extracted content</b></p>
        <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 100px;margin-left: 1%"></div>
        <br>
        <br>

        <div class="row">
            <div class="col-7">
                <div class="w3-center"
                     style="display: flex; flex-direction: column; justify-content: space-between; width: 100%">
                    <form id="start_form" method="POST" action="{{ url_for('learn.chat') }}">
                        <button id="go_previous_txt" type="button" onclick="prevPage()" style="width:20%">Previous</button>
                        <label style="width:20%">Page Number:</label>
                        <input type="number" id="page" name="page" min="1" max="{{ max_length }}" value="{{ page }}"
                               style="width:20%">
                        <button id="go_next_txt" type="button" onclick="nextPage()" style="width:20%">Next</button>
                        <pre class="extracted-text" style="height: 45vh">{{ texts[page-1] }}</pre>
                    </form>
                    <br>

                </div>
            </div>

            <div class="col-5">
                <div class="card border-primary mt-3" style="height: 45vh">
                    <div class="card-header" style="background-color: #a39c94;color: white">
                        <b>Q&A Box</b>
                    </div>
                    <div class="card-body" id="chatBox" style="overflow-y: scroll;">
                    </div>
                </div>
                <form class="row" id="qform" style="margin-top: 0;" onsubmit="submitHandle">
                    <div class="col-12">
                        <input id="questionInput" style="width: 100%"
                               class="form-control form-control-lg border-primary" type="text" name="question"
                               placeholder="Ask your question here, enter RETURN to send."/>
                    </div>
                </form>
            </div>
        </div>


        <br>
        <hr style="border-width: 1px;border-color: #5c636a">
        <br>
        <br>

        <div class="row">
            <div class="col2">
                <p class="fs-aa" style="margin-left: 2%;"><b>Summary</b></p>
                <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 50px;margin-left: 2%"></div>
            </div>
        </div>
        <br>
        <br>

        <div style="background-color: #E4E7E9">
        <div class="row">
            <br>
            <div class="col-12">
                <div class="w3-center"
                     style="display: flex; flex-direction: column; justify-content: space-between; width: 100%">
                    <form id="form" method="POST" action="{{ url_for('learn.chat') }}"
                          style="padding: 30px; border-radius: 0%;">
                        <button id="pageSummaryBtn" class="blue_btn" type="button" onclick="page_summary()"
                                style="width:20%; margin-right: 10%"><b>Page Summary</b></button>
                        {#<label for="page" style="width:20%">Page Number:</label>
              <input type="number" id="page" name="page" min="1" max="{{ max_length }}" value="{{page}}" style="width:20%">#}
                        <button id="chapterSummaryBtn" class="blue_btn" type="button" onclick="chapter_summary()"
                                style="width:20%; margin-left: 10%"><b>Chapter Summary</b></button>
                    </form>
                    <br>
                    <br>
                    <br>
                    <p class="fs-aa" id="summary" style="height: 42vh">You can click Page Summary or Chapter Summary to
                        get the relevant summary.</p>
                </div>
            </div>
        </div>
            </div>
        <br>
        <br>


        <hr style="border-width: 1px;border-color: #5c636a">


        <div class="w3-row w3-padding-64">
            <div class="w3-col m6 w3-padding-large w3-hide-small">
                <img src="{{ url_for('static', filename='img/play_now2.webp') }}" alt="info1_pic"
                     style="width:70%; height: 50%; margin-left: 15%; border-radius: 20px">
            </div>

            <div class="w3-col m6 w3-padding-large">
                <p class="fs-aaa"><b>Need a break?</b></p><br>
                <p class="fs-a">Get relaxed by listening to smooth music, podcasts and playing games.</p><br>
                <button class="blue_btn" onclick="window.open('/play', '_blank')"><b>Discover</b></button>
            </div>
        </div>


        <div class="w3-display-bottomright" style=" margin-bottom: 2%; margin-right: 2%; position: fixed">
            <button class="blue_btn" id="goTop-btn" onclick="scrollToSection('section_start')"
                    style="padding: 10px 32px; text-align: center;"><b>Go Top</b></button>
        </div>
    </div>

            <hr style="border-width: 1px;border-color: #5c636a">


        <div class="row w3-padding-16">
        <div class="col-12" style="background-color: #837469;text-align: center;">
            <div class="tag_text_box" style="margin-top: 1%;margin-left: 2%"><p class="fs-aa" style="margin-left: 1%; color: white"><b>More Instructions</b></p></div>
           {# <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 50px;margin-left: 2%"></div>#}
            <iframe  width="780" height="380" src="https://www.youtube.com/embed/3TW2pPvBb_w"
                    style="margin-top: 1%;margin-left: 0%;"></iframe>
            <br>
            <br>
        </div>
    </div>

    <script>
        const fileInput = document.getElementById('fileInput');
        const submitButton = document.getElementById('submitButton');
        const uploadMessage = document.getElementById('uploadMessage');

        fileInput.addEventListener('change', function () {
            if (fileInput.value) {
                submitButton.disabled = false;
                uploadMessage.style.display = 'none';
            } else {
                submitButton.disabled = true;
                uploadMessage.style.display = 'block';
            }
        });

        function scrollToSection(sectionId) {
            var section = document.getElementById(sectionId);
            section.scrollIntoView({behavior: 'smooth'});
        }

        function page_summary() {
            document.getElementById("summary").textContent = "Generating page summary...";
            fetch(`/learn/summarizepage?page={{page}}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("summary").textContent = data.summary;
                })
        }

        function chapter_summary() {
            document.getElementById("summary").textContent = "Generating chapter summary...";
            fetch(`/learn/summarizechapter`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("summary").textContent = data.summary;
                })
        }

        document.getElementById("questionInput").addEventListener("keypress", function (ev) {
            if (ev.key == "Enter") {
                submitHandle(ev);
            }
        });

        function submitHandle(ev) {
            console.debug("submit");
            ev.preventDefault();

            //change chat box
            let questionInput = document.getElementById("questionInput");
            let question = questionInput.value;
            questionInput.value = "";

            let chatBox = document.getElementById("chatBox");
            chatBox.innerHTML = chatBox.innerHTML + packQuestion(question);

            let askUrl = "/learn/ask?page={{page}}";
            let options = {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({question: question})
            };
            fetch(askUrl, options)
                .then(resp => resp.json())
                .then(data => {
                    console.debug(data);
                    chatBox.innerHTML = chatBox.innerHTML + packAnswer(data.answer);
                });
        }

        function packQuestion(question) {
            let html = [
                "<div class='text-end'>",
                "  <strong>Question: </strong>" + question,
                "</div>"
            ].join("");

            return html;
        }

        function packAnswer(answer) {
            let html = [
                "<div class='text-start'>",
                "  <strong>Answer: </strong>" + answer,
                "</div>"
            ].join("");

            return html;
        }

        var pageInput = document.getElementById('page');
        var maxPage = {{ max_length }};
        var currentPage = {{ page }};

        function prevPage() {
            if (currentPage > 1) {
                currentPage--;
                pageInput.value = currentPage;
                start_form.submit();
            }
        }

        function nextPage() {
            if (currentPage < maxPage) {
                currentPage++;
                pageInput.value = currentPage;
                start_form.submit();
            }
        }

        function handleFileUpload() {
            alert('File uploaded successfully!');
        }


    </script>

<script type="text/javascript" src="../../static/js/goTop.js"></script>

    {#<div id="my_pdf_viewer" class="w3-center" style="width: 90%; display: block; margin: 0 auto;">
        <div id="navigation_controls" class="w3-center"
             style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <button id="zoom_in" style="font-weight: bold; width: 14%">+</button>
            <button accesskey="" id="go_previous" style="font-weight: bold; width: 14%">Previous</button>
            <input id="current_page" style="font-weight: bold; width: 40%; padding: 6px;" value="1" type="number"/>
            <button id="go_next" style="font-weight: bold; width: 14%">Next</button>
            <button id="zoom_out" style="font-weight: bold; width: 14%">-</button>
        </div>
        <br>
        <div id="canvas_container" class="w3-center" style="width: 100%; margin: 0 auto">
            <canvas id="pdf_renderer"></canvas>
        </div>
        <br>
    </div>#}
{#
    <script>

        const fileInput = document.getElementById('fileInput');
        const submitButton = document.getElementById('submitButton');
        const uploadMessage = document.getElementById('uploadMessage');
        const uploadMessage2 = document.getElementById('uploadMessage2');
        const getAssistance = document.getElementById('getAssistance');

        fileInput.addEventListener('change', function () {
            if (fileInput.value) {
                submitButton.disabled = false;
                uploadMessage.style.display = 'none';
            } else {
                submitButton.disabled = true;
                uploadMessage.style.display = 'block';
            }
        });

        getAssistance.addEventListener('click', function () {
            if (myState.pdf == null) {
                uploadMessage2.style.display = 'block';
            } else {
                window.location.href = '/learn/chat'
            }
        });

        var myState = {
            pdf: null,
            currentPage: 1,
            zoom: 1
        };


        var pdf = encodeURIComponent("{{ session.pdf }}");
        var url = "/static/" + pdf;
        console.debug(url);

        pdfjsLib.getDocument(url).promise.then(function (pdf) {
            myState.pdf = pdf;
            render();
        });

        function render() {
            myState.pdf.getPage(myState.currentPage).then(function (page) {
                var canvas = document.getElementById("pdf_renderer");
                var ctx = canvas.getContext('2d');

                var viewport = page.getViewport({scale: myState.zoom});
                canvas.width = viewport.width;
                canvas.height = viewport.height;

                var renderContext = {
                    canvasContext: ctx,
                    viewport: viewport
                };
                page.render(renderContext).promise.then(function () {
                    // Display the PDF page
                    document.querySelector('#canvas_container').appendChild(canvas);
                });

            });
        }

        const previous = document.getElementById("go_previous");
        const next = document.getElementById("go_next");

        function myPrevious() {
            if (myState.pdf == null || myState.currentPage == 1)
                return;
            myState.currentPage -= 1;
            document.getElementById("current_page").value = myState.currentPage;
            render();
        }

        previous.addEventListener("click", myPrevious);
        document.addEventListener("keydown", function (event) {
            if (event.code === "ArrowLeft") {
                previous.dispatchEvent(new Event("click"));
            }
        });

        function myNext() {
            if (myState.pdf == null || myState.currentPage > myState.pdf._pdfInfo.numPages)
                return;
            myState.currentPage += 1;
            document.getElementById("current_page").value = myState.currentPage;
            render();
        }

        next.addEventListener("click", myNext);
        document.addEventListener("keydown", function (event) {
            if (event.code === "ArrowRight") {
                next.dispatchEvent(new Event("click"));
            }
        });


        document.getElementById('current_page').addEventListener('keypress', function (e) {
            if (myState.pdf == null) return;

            // Get key code
            var code = (e.keyCode ? e.keyCode : e.which);

            // If key code matches that of the Enter key
            if (code == 13) {
                var desiredPage =
                    document.getElementById('current_page').valueAsNumber;

                if (desiredPage >= 1 && desiredPage <= myState.pdf._pdfInfo.numPages) {
                    myState.currentPage = desiredPage;
                    document.getElementById("current_page").value = desiredPage;
                    render();
                }
            }
        });

        document.getElementById('zoom_in').addEventListener('click', function (e) {
            if (myState.pdf == null) return;
            myState.zoom += 0.5;
            render();
        });
        document.getElementById('zoom_out').addEventListener('click', function (e) {
            if (myState.pdf == null) return;
            myState.zoom -= 0.5;
            render();
        });

        const myCanvas = document.getElementById("canvas_container");

        document.addEventListener("keydown", function (event) {
            if (event.code === "ArrowUp") {
                myCanvas.scrollTop -= 10;
            } else if (event.code === "ArrowDown") {
                myCanvas.scrollTop += 10;
            }
        });


    </script>#}
{% endblock %}
