{% extends 'base.html' %}


{% block title %}Learn Now{% endblock %}



{% block body %}
      <div class="w3-top">
  <nav class="w3-bar w3-white w3-padding w3-card">
    <div class="w3-left w3-hide-small"  style = "display:flex; align-items: center">
    <a href="/" class="w3-bar-item w3-button w3-large">Helpviz</a>
      <a class="nav-link fw-bolder w3-bar-item w3-button" href="#" id="fs_large" style = "font-size: 25px">A |</a>
      <a class="nav-link fw-semibold w3-bar-item w3-button" href="#" id="fs_normal"style = "font-size: 20px">A |</a>
      <a class="nav-link fw-normal w3-bar-item w3-button" href="#" id="fs_small"style = "font-size: 15px">A |</a>
    </div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <a class="navigation-btn" aria-current="page" href="/">Home</a>
        <a class="navigation-btn active" href="/learn">Learn Now</a>
        <a class="navigation-btn" href="/play">Play Now</a>
        <a class="navigation-btn" href="/Information">Information</a>
    </div>
  </nav>
  </div>


    <br>

    <header class="bgimg2 w3-display-container w3-grayscale-min" style="margin-top:3%">
        <div class="w3-display-left w3-left" style="align-items: center; padding-left: 5%">
            <p class="name fw-bolder" style="font-size:50px;color: #ffffff;">Easy PDF Reader</p>
            <p class="fs-a"><b>Feel challenging on screen reading? Upload your pdf file and start your reading
                journey.</b></p>
        </div>
    </header>

    <div >
            <div class="w3-container w3-cell" style=" background-color: #E4E7E9;padding: 20px 200px">
                <div>
                    <p class="fs-aa"><b>Upload a PDF file here</b></p>
                    <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div>
                    <br>
                    <br>

                    <form action="/learn/" method="POST" enctype="multipart/form-data">
                        <input class="w3-light-grey w3-xlarge" type="file" name="file"/>
                        <br>
                        <br>
                        <input type="submit" class="home_black_btn" value="Submit"/>
                    </form>
                </div>
            </div>

            <div class="w3-container w3-cell" style="background-color: #000075; padding: 20px 50px">
                <p class="fs-aa" style="color: white"><b>AI Assistance</b></p>
                <div style="padding: 3px 2px; border-radius: 90px; background: #ffcd39; max-width: 75px"></div><br>
                <p class="fs-a" style="color: white">We provide an AI tool to help you summarise articles and Q&As</p>
                <button class="blue_btn" onclick="window.location.href='/learn/chat';"
                            style="margin-top: 20%"><b>Get your assistance</b></button>
            </div>
        </div>
    <br>
    <br>
    <br>

    <div id="my_pdf_viewer" class="w3-center" style="width: 90%; display: block; margin: 0 auto;">
        <div id="navigation_controls" class="w3-center"
             style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <button id="zoom_in" style="font-weight: bold; width: 14%">+</button>
            <button accesskey="" id="go_previous" style="font-weight: bold; width: 14%">Previous</button>
            <input id="current_page" style="font-weight: bold; width: 40%; padding: 6px;" value="1" type="number"/>
            <button id="go_next" style="font-weight: bold; width: 14%">Next</button>
            <button id="zoom_out" style="font-weight: bold; width: 14%">-</button>
        </div>
        <br>
        <div id="canvas_container" class="w3-center" style="width: 100%; margin: 0 auto">
            <canvas id="pdf_renderer"></canvas>
        </div>
        <br>
    </div>

<!--    <a href="{{ url_for('transcribe', current_page = 'learn') }}" accesskey="j" id="transcription-link"></a>-->


    <script>
        var myState = {
            pdf: null,
            currentPage: 1,
            zoom: 1
        };

        var pdf = encodeURIComponent("{{ session.pdf }}");
        var url = "/static/" + pdf;
        console.debug(url);

        pdfjsLib.getDocument(url).promise.then(function (pdf) {
            myState.pdf = pdf;
            render();
        });

        function render() {
            myState.pdf.getPage(myState.currentPage).then(function (page) {
                var canvas = document.getElementById("pdf_renderer");
                var ctx = canvas.getContext('2d');

                var viewport = page.getViewport({scale: myState.zoom});
                canvas.width = viewport.width;
                canvas.height = viewport.height;

                var renderContext = {
                    canvasContext: ctx,
                    viewport: viewport
                };
                page.render(renderContext).promise.then(function () {
                    // Display the PDF page
                    document.querySelector('#canvas_container').appendChild(canvas);
                });

            });
        }

        const previous = document.getElementById("go_previous");
        const next = document.getElementById("go_next");

        function myPrevious() {
            if (myState.pdf == null || myState.currentPage == 1)
                return;
            myState.currentPage -= 1;
            document.getElementById("current_page").value = myState.currentPage;
            render();
        }

        previous.addEventListener("click", myPrevious);
        document.addEventListener("keydown", function (event) {
            if (event.code === "ArrowLeft") {
                previous.dispatchEvent(new Event("click"));
            }
        });

        function myNext() {
            if (myState.pdf == null || myState.currentPage > myState.pdf._pdfInfo.numPages)
                return;
            myState.currentPage += 1;
            document.getElementById("current_page").value = myState.currentPage;
            render();
        }

        next.addEventListener("click", myNext);
        document.addEventListener("keydown", function (event) {
            if (event.code === "ArrowRight") {
                next.dispatchEvent(new Event("click"));
            }
        });

        <!--        document.getElementById('go_previous').addEventListener('click', function(e){-->
        <!--            if (myState.pdf == null || myState.currentPage == 1)-->
        <!--              return;-->
        <!--            myState.currentPage -= 1;-->
        <!--            document.getElementById("current_page").value = myState.currentPage;-->
        <!--            render();-->
        <!--        });-->

        <!--        document.getElementById('go_next').addEventListener('click', function(e){-->
        <!--            if(myState.pdf == null || myState.currentPage > myState.pdf._pdfInfo.numPages)-->
        <!--               return;-->
        <!--            myState.currentPage += 1;-->
        <!--            document.getElementById("current_page").value = myState.currentPage;-->
        <!--            render();-->
        <!--        });-->

        document.getElementById('current_page').addEventListener('keypress', function (e) {
            if (myState.pdf == null) return;

            // Get key code
            var code = (e.keyCode ? e.keyCode : e.which);

            // If key code matches that of the Enter key
            if (code == 13) {
                var desiredPage =
                    document.getElementById('current_page').valueAsNumber;

                if (desiredPage >= 1 && desiredPage <= myState.pdf._pdfInfo.numPages) {
                    myState.currentPage = desiredPage;
                    document.getElementById("current_page").value = desiredPage;
                    render();
                }
            }
        });

        document.getElementById('zoom_in').addEventListener('click', function (e) {
            if (myState.pdf == null) return;
            myState.zoom += 0.5;
            render();
        });
        document.getElementById('zoom_out').addEventListener('click', function (e) {
            if (myState.pdf == null) return;
            myState.zoom -= 0.5;
            render();
        });

        const myCanvas = document.getElementById("canvas_container");

        document.addEventListener("keydown", function (event) {
            if (event.code === "ArrowUp") {
                myCanvas.scrollTop -= 10;
            } else if (event.code === "ArrowDown") {
                myCanvas.scrollTop += 10;
            }
        });


    </script>
{% endblock %}
